<div class="row">
  <div class="input-group">
    <span class="input-group-btn">
      <button class="btn btn-default" type="button">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
      </button>
    </span>
    <input type="text" class="form-control" ng-model="searchKeyword"
      placeholder="{{ 'SEARCH' | translate }}">
  </div>
</div>
<div class="row">
  <table class="table" ng-model="books">
    <tr>
      <td><h3>{{ 'BOOKS' | translate }}</h3></td>
      <td></td>
    </tr>
    <tr ng-repeat="book in books | filter: searchKeyword">
      <td>{{ book.title }}</td>
      <td>
        <a class="btn btn-primary"
          ui-sref="site.bookstore.view({id:book._id})">{{ 'DETAILS' | translate }}</a>
        <a class="btn btn-danger"
          ng-click="deleteBook(book)">{{ 'DELETE' | translate }}</a>
      </td>
    </tr>
  </table>
</div>
<div class="row">
  <a ui-sref="site.bookstore.add" class="btn-primary btn nodecoration">
    {{ 'NEW' | translate }}&nbsp;{{ 'BOOK' | translate}}
  </a>
</div>
