<table class="table">
    <tr>
        <td>{{ 'BOOK' | translate }}</td>
        <td>{{book.title}}</td>
    </tr>
    <tr>
        <td>{{ 'AUTHOR' | translate }}</td>
        <td>{{book.author}}</td>
    </tr>
</table>
<div>
    <a class="btn btn-primary"
      ui-sref="site.bookstore.edit({id:book._id})">{{ 'EDIT' | translate }}</a>
</div>
