<!doctype html>
<html ng-app="app" ng-controller="MasterController">
  <head>
    <meta charset="utf-8" />
    <title>{{ MasterPage.getTitle() | translate }}</title>
    <link rel="shortcut icon" type="image/x-icon" href=""/>
    <link rel="stylesheet" type="text/css" href="./index.css">
    <script type="text/javascript" src="./index.js"></script>
  </head>
  <body>
    <div ui-view></div>
  </body>
</html>
