<div class="form-group">
    <label for="title" class="col-sm-2 control-label">{{ 'TITLE' | translate }}</label>
    <div class="col-sm-10">
        <input type="text" ng-model="book.title" class="form-control" id="title" placeholder="{{ 'TITLE' | translate }}"/>
    </div>
</div>
<div class="form-group">
    <label for="author" class="col-sm-2 control-label">{{ 'AUTHOR' | translate }}</label>
    <div class="col-sm-10">
        <input type="text" ng-model="book.author" class="form-control" id="author" placeholder="{{ 'AUTHOR' | translate }}"/>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" class="btn btn-primary" value="{{ 'SAVE' | translate }}"/>
    </div>
</div>
