<div>

  <div ui-view="header"></div>

  <div class="container master-page">
    <div class="page-header">
      <h1>{{ MasterPage.getTitle() | translate }}</h1>
    </div>
    <div ui-view></div>
  </div>

  <div ui-view="footer"></div>

</div>
